<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Example -->
      <package
            uri="http://www.sourcepit.org/common/modeling/0.1"
            class="org.sourcepit.common.modeling.CommonModelingPackage"
            genModel="META-INF/emf/CommonModeling.genmodel"/>
   </extension>

</plugin>
